:root {
  --playground-background: #f2f4f6;
  --playground-code-background: #fafcff;
  --playground-text-color: #333;
  --playground-button-background: #fff;
  --playground-button-hover-background: #f0f0f0;
  --playground-divider-color: #e2e4e6;
  --playground-controls-height: 48px;
  --playground-tabs-height: 32px;
  --playground-tabs-tab-active-border-color: #3ae;
  --playground-close-icon-height: 16px;
  --playground-code-selection-color: #b5bbc6;
  --playground-link-color: blue;
}

html,
body {
  margin: 0;
}

body[data-theme='dark'] {
  --playground-background: #1e1e1e;
  --playground-code-background: #1e1e1e;
  --playground-text-color: #fff;
  --playground-button-background: #333;
  --playground-button-hover-background: #666;
  --playground-divider-color: #444;
  --playground-tabs-tab-active-border-color: #3ae;
  --playground-close-icon-height: 16px;
  --playground-code-selection-color: #444;
  --playground-link-color: #3ae;
}

body,
input {
  font-family: Roboto,
    Helvetica,
    Tahoma,
    Arial,
    'Noto Sans CJK',
    'PingFang SC',
    'Hiragino Sans GB',
    'Microsoft YaHei UI',
    'WenQuanYi Micro Hei',
    sans-serif;
}

a {
  color: var(--playground-link-color);
}

.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: var(--playground-background);
  font-size: 14px;

  &,
  div {
    box-sizing: border-box;
  }

  pre {
    background: var(--playground-code-background) !important;
    white-space: pre-wrap;
  }

  .controls {
    display: flex;
    height: var(--playground-controls-height);
    padding: 0 8px;
    flex-shrink: 0;
    align-items: center;
    border-bottom: 1px solid var(--playground-divider-color);
    color: var(--playground-text-color);

    h1 {
      padding: 0 8px;
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: var(--playground-controls-height);

      small {
        margin-left: 8px;
        font-size: 12px;
        font-weight: normal;
      }

      & + div {
        margin: 0 8px 0 auto;
      }
    }

    &-buttons {
      display: flex;
      align-items: center;

      button {
        box-sizing: border-box;
        margin-right: 8px;
        padding: 4px 4px;
        background: var(--playground-button-background);
        border-radius: 4px;
        border: 1px solid var(--playground-divider-color);
        color: var(--playground-text-color);
        font-size: 12px;
        vertical-align: middle;
        cursor: pointer;

        &:active {
          background: var(--playground-button-hover-background);
        }
      }

      label {
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 4px 8px;
        font-size: 12px;

        .icon {
          z-index: 2;
          pointer-events: none;
        }

        input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: var(--playground-button-background);
          border: 1px solid var(--playground-divider-color);
          border-radius: 4px;
          margin: 0 4px 0 0;
          appearance: none;
          cursor: pointer;
          outline: 2px solid transparent;
          transition: outline-color 0.2s;
        }

        & + label input {
          border-left: none;
        }

        &.checked input {
          outline-color: var(--playground-tabs-tab-active-border-color);
          z-index: 1;
        }

        &:first-of-type input {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        &:last-of-type input {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }
  }

  .playground {
    display: flex;
    max-height: calc(100% - var(--playground-controls-height));
    flex-grow: 1;

    & > * {
      flex: 1;
    }

    &-layout-horizontal {
      flex-direction: row;

      & > * {
        width: 33.33%;
        border-right: 1px solid var(--playground-divider-color);

        &:last-child {
          border-right: none;
        }
      }
    }

    &-layout-vertical {
      flex-direction: column;

      & > * {
        height: 33.33%;
        border-bottom: 1px solid var(--playground-divider-color);

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &-tabs {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      overflow-x: auto;
      color: var(--playground-text-color);
      user-select: none;

      &-tab {
        position: relative;
        display: inline-block;
        height: var(--playground-tabs-height);
        box-sizing: border-box;
        padding: 0 8px;
        border: none;
        border-radius: 0;
        border-right: 1px solid var(--playground-divider-color);
        background: transparent;
        cursor: pointer;
        font-size: 14px;
        line-height: var(--playground-tabs-height);
        white-space: nowrap;

        &-with-suffix {
          padding-right: 0;
        }

        &:hover,
        &-active {
          background: var(--playground-code-background);
        }

        &:before {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          display: block;
          height: 2px;
          background: transparent;
          transition: background 0.2s;
          content: '';
        }

        &-active:before {
          background: var(--playground-tabs-tab-active-border-color);
        }

        input {
          color: var(--playground-text-color);
        }
      }
    }

    &-editor {
      display: flex;
      flex-direction: column;
      color: var(--playground-text-color);

      &-tabs {
        &-add {
          padding: 0 8px;
        }

        &-close {
          width: var(--playground-close-icon-height);
          height: var(--playground-close-icon-height);
          padding: 0;
          border: none;
          border-radius: 2px;
          margin: 4px;
          background: transparent;
          cursor: pointer;
          line-height: var(--playground-close-icon-height);

          &:not(&-disabled):hover,
          &:not(&-disabled):focus {
            background: var(--playground-button-hover-background);
            outline: none;
          }
        }

        button {
          color: var(--playground-text-color);
        }

        input {
          margin-bottom: -3px;
          padding: 0 0 2px;
          border: none;
          border-bottom: 1px solid var(--playground-divider-color);
          background: var(--playground-background);
          font-size: 14px;
          outline: none;
        }
      }

      &-code {
        overflow: auto;
        flex-grow: 1;
        background: var(--playground-code-background);

        &-inner {
          position: relative;
          min-height: calc(100% - var(--playground-tabs-height));

          pre,
          textarea {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding: 8px;
            border: none;
            margin: 0;
            font-family: monospace;
            font-size: 14px;
          }

          textarea {
            position: absolute;
            top: 0;
            left: 0;
            background: transparent;
            color: var(--playground-text-color);
            outline: none;
            resize: none;
            -webkit-text-fill-color: transparent;

            &::selection {
              background: var(--playground-code-selection-color);
            }
          }

          pre {
            position: relative;
            z-index: 1;
            background: transparent !important;
            pointer-events: none;
          }
        }

        &-placeholder {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          padding: 8px;
          color: #999;
          font-family: monospace;
          font-size: 14px;
          pointer-events: none;
        }
      }
    }

    &-compile-result {
      display: flex;
      flex-direction: column;
      color: var(--playground-text-color);
      position: relative;
      overflow: hidden;

      @keyframes loading-show {
        0% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(0);
        }
      }

      &-loading {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 8px 16px;
        background: var(--playground-tabs-tab-active-border-color);
        color: #fff;
        animation: loading-show 0.5s ease-out forwards;
      }

      & > pre {
        overflow: auto;
        flex-grow: 1;
        padding: 8px;
        margin: 0;
      }

      &-error {
        padding: 8px;
        overflow-y: auto;
        border-top: 1px solid var(--playground-divider-color);
        color: red;

        pre {
          padding: 0;
          margin: 0 0 16px;
          background: transparent !important;
        }
      }
    }

    &-previewer {
      position: relative;
      overflow: auto;
      background: var(--playground-code-background);
      color: var(--playground-text-color);
    }

    &-error-boundary {
      padding: 8px;
      border: 1px solid red;
      border-radius: 4px;
      margin: 8px;
      background: transparent !important;
      color: red;
    }
  }
}

.icon {
  --icon-size: 16px;

  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--playground-text-color);
}
